body {
    margin: 0;
    padding: 10px;
}

.examples {
    flex-flow: row wrap;
    display: flex;
}

.examples div {
    border: 3px solid #000000;
    height: 300px;
    margin-inline-end: 10px;
    width: 300px;
}

.examples div.title {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 12px;
    border: none;
    margin-bottom: 10px;
    width: 100%;
    height: auto;
}

ruffle-player {
    height: 300px;
    width: 300px;
}

hr {
    border: none;
    background: #999999;
    margin: 10px 0;
    height: 3px;
}
